<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<link rel="stylesheet" href="static/EmployeeHome/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
        <title>Update Page</title>
    </head>
    <style>
        .box1{
            padding-left: 100px;
        }
        #push{
          padding-top: 80px;
          padding-left: 600px;
          font-size: larger;
        }

        body{
        background:rgb(8, 183, 226);
      }
    </style>
    <script>
        function testfunc()
        {
            document.location.href='update2';
        }
        function testfunc2()
        {
            document.location.href='delete';
        }
        </script>
    <body>
        <div id="push">
            <div class="row">
                <label class="col-xs-12 col-md-12" name="ssn">SSN : {{ssn}}</label><br>
            </div>

        <div class="row">
        <label class="col-xs-12 col-md-12" name="name">Name : {{name}}</label><br>
    </div>

        <div class="row">
        <label class="col-xs-12 col-md-12" name="email">Email : {{email}}</label><br>
    </div>

        <div class="row">
        <label class="col-xs-12 col-md-12" name="dob">DOB : {{dob}}</label><br>
    </div>

        <div class="row">
        <label class="col-xs-12 col-md-12" name="city">City : {{city}}</label><br>
    </div>

    <button class="btn btn-primary" type="submit" name="update" onclick=testfunc()>Update</button>
    
    <!-- <button class="btn btn-primary" type="submit" name="delete" onclick=testfunc2()>Delete</button> -->
    <a class="btn btn-primary" href="http://127.0.0.1:8000/login/delete/">Delete</a>
    <a class="btn btn-primary" href="http://127.0.0.1:8000/login/">Logout</a>
    <!-- <button type="submit" name="logout" href="http://127.0.0.1:8000/register/">Log Out</button>
     -->
    </div>
    </div>

</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>